# Maven
target/
*.class

# IDE - NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IDE - IntelliJ / Eclipse
.idea/
*.iml
.classpath
.project
.settings/

# General
*.log
.DS_Store
